<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="testlisteners.ExtentITestNGListeners"></listener>
</listeners>
  <test thread-count="5" name="LoginTest">
    <classes>
    <class name="com.SwagLab.TestCases.LoginPageTest"/>  
       </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="InventoryTest">
    <classes>
        <class name="com.SwagLab.TestCases.InventoryPageTest"/>
     </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="CartTest">
    <classes>
        <class name="com.SwagLab.TestCases.CartPageTest"/>
     </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="CheckoutTest">
    <classes>
        <class name="com.SwagLab.TestCases.CheckOutPageTest"/>
     </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="OverviewTest">
    <classes>
        <class name="com.SwagLab.TestCases.OverviewPageTest"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
